<div>
<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<p>name<%= @user.name %></p>
<p>introduction<%= @user.introduction %></p>
<% if @user ==current.user %>
<p><%= link_to image_tag,edit_user_path(@user) %></p>
<% end %>
</div>

